DB_NAME='database_name'
DB_USER='database_user'
DB_PASSWORD='database_password'

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional variables
# DB_HOST='localhost'
# DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://example.com'
WP_SITEURL="${WP_HOME}/wp"
WP_DEBUG_LOG=/path/to/debug.log

# Generate your keys with `wp dotenv salts generate` or by visiting https://roots.io/salts.html
AUTH_KEY='generateme'
SECURE_AUTH_KEY='generateme'
LOGGED_IN_KEY='generateme'
NONCE_KEY='generateme'
AUTH_SALT='generateme'
SECURE_AUTH_SALT='generateme'
LOGGED_IN_SALT='generateme'
NONCE_SALT='generateme'

# Redis
WP_REDIS_PREFIX=
WP_REDIS_CLIENT=
WP_REDIS_HOST=

# Mailgun
MAILGUN_DOMAIN=
MAILGUN_API_KEY=

# WP-Rocket
WP_CACHE=false
WP_ROCKET_KEY=
WP_ROCKET_EMAIL=ethan@sternerstuff.dev

# TinyPNG
TINY_API_KEY=

# Gravity Forms
GF_LICENSE_KEY=

# WP Migrate DB Pro
WPMDB_LICENCE=

# WP Offload Media
AS3CFPRO_LICENCE=
OFFLOAD_MEDIA_ACCESS_KEY_ID=
OFFLOAD_MEDIA_SECRET_ACCESS_KEY=